body {
    font-family: Arial, sans-serif;
    margin-top: 56px; /* Offset for fixed navbar */
}

header {
    background-color: #007bff;
}

#about p {
    font-size: 1.2rem;
}

.skill {
    margin-bottom: 20px;
}

.skill h5 {
    margin-bottom: 10px;
}

.progress {
    height: 30px;
}

.progress-bar {
    line-height: 30px;
    font-size: 1rem;
}

#projects .card {
    margin: 0 auto;
    max-width: 800px;
}

footer {
    background-color: #343a40;
}

.circular-progress-bar {
  width: 200px;
  height: 200px;
  position: relative;
}

.circular-progress-bar .circle,
.circular-progress-bar .half-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 10px solid #e0e0e0;
  border-radius: 50%;
  border-color: transparent transparent #3f51b5 #3f51b5;
}

.circular-progress-bar .half-circle {
  clip: rect(0, 100px, 200px, 0);
}

.circular-progress-bar .percentage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center;
}
